RewriteEngine on
RewriteCond %{HTTP_HOST} ^https://app.0xlancerlab.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^https://app.0xlancerlab.com$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.\*) /public/$1 [L]
